In [26]:
import pandas as pd

In [27]:
pd.__version__

'1.5.3'

In [28]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [32]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [34]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [35]:
from time import time

In [36]:
for df_chunck in df_iter: 
    t_start = time()

    df_chunck.tpep_pickup_datetime = pd.to_datetime(df_chunck.tpep_pickup_datetime)
    df_chunck.tpep_dropoff_datetime = pd.to_datetime(df_chunck.tpep_dropoff_datetime)
    
    df_chunck.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.831 second
inserted another chunk, took 9.953 second
inserted another chunk, took 10.199 second
inserted another chunk, took 9.798 second
inserted another chunk, took 9.940 second
inserted another chunk, took 9.970 second
inserted another chunk, took 9.721 second
inserted another chunk, took 10.118 second
inserted another chunk, took 10.090 second
inserted another chunk, took 9.941 second
inserted another chunk, took 9.743 second
inserted another chunk, took 9.795 second

/var/folders/9k/gd8k4g_j1xb6lj2_jcchqdnr0000gn/T/ipykernel_10238/343225393.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chunck in df_iter:

inserted another chunk, took 11.543 second
inserted another chunk, took 6.520 second

In [23]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

zsh:1: command not found: wget

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')